body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SangBleu Sunrise";
  src: local("SangBleu Sunrise"),
    url(./fonts/SangBleu\ Sunrise.woff) format("woff");
}

/* since it's not possible to add style tags to avantstay-ui datepicker
I've used the native className from the component and added the position: fixed
prop so it would stay in place
https://github.com/avantstay/avantstay-ui
*/
.rdr-DateRange {
  position: fixed;
}

.Funny-Error {
  margin: auto;
  width: 50%;
  padding: 10px;
}